/* @import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600&display=swap);  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-weight: 300; */
 
}
html{
  scroll-behavior: smooth;
}

:root {
  --liana-green: #4c8930;
  --hover-green:#5fb234;
  --text-black:#373a3c; 
  --white:#ffffff; 
  --black-is-black:#000000; 
  --background-grey:#ebedef;
  --divider-grey: #cccccc; 
  --line-grey:#e0e0e0; 
}
body{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-black);
  background-color: var(--white);
}
.container{
  /* padding: 2em 20em; */
  margin: 0 auto;
  padding: 1em 6em;
}
h1{
  /* font-size: 56px; */
  font-size: 3.5rem;
  color: var(--white);
  font-weight:300;

}
h2{
  /* font-size: 32px; */
  font-size: 2rem;
  color: var(--text-black);
  font-weight: 400;
}
h3{
  /* font-size: 28px; */
  font-size:1.75rem;
  color: var(--white);
  font-weight: 400;
}
h4{
  /* font-size: 24px; */
  font-size:1.5rem;
  color: var(--text-black);
  font-weight: 600;
}
p, a, select, button, input{
  font-size:  1.1rem; 
}
.text {
  /* font-size: 16px; */
font-size: 1rem;
}
li{
  list-style-type: none; 
  display: inline-block;
  padding: 0 1em;
}

a{
  text-decoration: none !important;
  color: inherit;
}
a:hover{
  font-weight: bold;
}
input, button, select, .card, .image{
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none;
}

input, select{
  font-family: 'Open Sans', sans-serif;
  padding: 0.4em 1em;
  transition: all 0.2s;
  border: 1px solid var(--line-grey);

}
input:focus, select:focus{
  outline: none;
  border-color: var(--hover-green);
}
button, input[type="submit"]{
padding:0.4em 0.8em; 
margin: 1em 0 1em 1em;
border: 1px solid var(--liana-green);
background-color: var(--liana-green);
color: var(--white);
transition: all 0.8s;
}


button:hover, input[type="submit"]:hover{
background-color: var(--hover-green);
border: 1px solid var(--hover-green);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: var(--white);
}
/* .sticky + .content {
  padding-top: 60px;
} */
.open {
  display: flex;
}

/* === Header === */

/* header{
  width: 100vw;
} */
.upper-band{  
  /* height: 4vh;  */
  background-color: var(--liana-green);
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content:right;
  padding: 0.5em 6em;
/* 
  z-index: 5;*/
  width: 100vw;

}
.main-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
  /* position: sticky; */

}
.desktop-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.logo-link img{
  height: 3em;
}
/* nav{
  width: 80%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
} */



.jumbotron{
  height: 60vh;
  min-height: 40vh;
  background-image: url(assets/pictures/4L7C5828.svg);
  background-repeat: no-repeat; 
  /* background-position: center; */
  background-position: top 20% center;
  background-size: 110%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* position: relative; */
  object-fit: cover;
}
.learn{
  padding: 0.8em 1em;
  font-size: 1.3rem;
  font-weight: 300;

}
/* = = = Mobile settings = = =  */

.mobile{
  /* display: flex;  */
  display: none; 
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #f3faf0;
  /* opacity: 0.5; */
  padding: 1em;
  color: var(--black-is-black);
  position: fixed;
  top:5.6em;
  right:0;
  z-index:100;
}
.menu-icon{
  /* background-color: #4c8930; */
  display: none;
  width:100%;
text-align: right;
}
/* nav{
  width:80%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
} */
/* .mobile-nav,  */
.mobile-menu-nav, .mobile-nav-items{
  display: flex;  
  flex-direction: column; 
  }
  .mobile li{
    margin: 6px;
    border-bottom: 0.2px solid #b7dfa4;
  }
  .mobile li:first-child{
    padding-bottom: 0.2em;
  }
 
  
  .mobile li:hover{
    font-weight: bold;
  }
  .mobile select{
    /* border: none; */
    background-color: var(--white);

  }
  .mobile-search-button{
    background-color:var(--liana-green);
    color: var(--white);
    padding: 0 1em;
  }
  .mobile-search-wrap{
    display: flex;
    align-items: center;
  }
 
  .mobile input{
    border: 1px solid var(--line-grey);
    margin: 0 1em;
    /* display: inline-block; */

  }
  .material-icons.md-24 { font-size: 2.2rem; }


  .mobile input, .mobile select{
    width: 60%;
      /* padding: 0.25em 0.1em;   */
  }

.close{
  display: none;
}


.menu-icon{
  z-index:10;
  /* position: absolute; */
  /* top: 1.5rem;
  right: 1rem; */
  cursor: pointer;
  color: var(--black-is-black);
  font-size: 20px;
  /* display: none; */
  /* transition: all 0.2s ease-in;*/
}

/* The End = = = END of mobile nav  =  == = = */


/* === Main === */

/* === IMAGE BANNER ===  */

.image-banner{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding-top: 4em;
gap: 1em;
/* margin-top: 6em; */
}

.image-card{
  width: 30%;
  min-width: 20em;
  height: 12em; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative; 
  border-radius: 5px;
  flex-wrap: wrap;
}
.image-card img{
  border-radius: 5px;
}

.image-card h3{
  z-index:9;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;    
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* === NUMBERS === */

.company-numbers{ 
  min-height: 12vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 margin: 1em;
  gap:6em; 
padding-top: 2em;
padding-bottom: 4em;
}
.value-unit{
  display: flex;
align-items: center;
gap: 1.5rem;}

.icon
{
  color: var(--liana-green);
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content p{
  color: var(--text-black);
}
.count{
  font-size: 3.5rem;
  font-weight: 100;
}

.material-icons.md-48 { font-size: 4.6rem; }


/* === NEWS === */
.news-section{
  min-height: 28vh;
  text-align: center;
  background-color: var(--background-grey);
  padding-top: 3em;
}
.news-card-section{
  display:flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em 0; 
}

.news-card{
  background-color: var(--white);
width:30%; 
min-width: 18em;
display: flex;
  flex-direction: column;
  justify-content: flex-start;
padding: 2em;
border: 1px solid var(--line-grey);
  border-radius:5px; 
}
.date{
  font-size: 0.8rem;
  padding-bottom:1em; 
  
}
.news-card p, .date{
  text-align: left;

}
.card:hover, .news-card:hover{
  box-shadow: 2px 4px 10px var(--divider-grey);
}


/* === REFERENCES === */
.references-section{
  min-height:40vh;
 text-align: center;
 border-bottom: solid 1px var(--divider-grey);
 padding-top: 3em;

}
.ref-cards{
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2em 0;
  /* align-items: center; */
}
.card{  
 /* margin: 2em; */
  /* padding: 2em; */
  width:22%;
  min-width: 10em;
  /* justify-items: center;
  text-align: center; */
/* justify-content: space-between; */
  display: flex;
  flex-direction: column;
  border: 1px solid var(--line-grey);
  gap:1em;
  margin:1em;
  
}
.card img{
height: 10em;
width: 100%;
border:0;
/* object-fit: cover; */
border-bottom: 1px solid var(--line-grey);


}
.card p{
  margin: 10px 20px 30px 20px;
  line-height: 1.5em;
} 


/* === SUBSCRIBE === */
.subscribe-section{
text-align: center;
padding-top: 3em;
padding-bottom: 3em;
}
.subscribe-text{
  margin-left: auto;
  margin-right: auto;
  width:30%;
text-align: center;
padding-top: 2em;
padding-bottom: 1.5em;
line-height: 1.5em;
}

.subscribe-tool{
  width:100%;
  display: flex;
  justify-content: center;
}
.subscribe-wrap{
  width:100%;
}
.subscribe-input{
  width: 40%;
}



/* .subscribe-section h2, p {
  text-align: center;
} */


/* === FOOTER === */
.footer-section{
  min-height: 15vh;
  background-color: var(--black-is-black);
  color: var(--white);
  padding-top: 3em;
  padding-bottom: 6em;
}
.footer-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2em;
}
.footer-nav h4{
  color: var(--white);

}
.footer-nav li:last-child{
  padding-right: 0;
}
.footer-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.address .text{
  text-align: left;
  line-height: 1.5em;
  font-weight: 300;
}

.contact-btn{
margin-right: auto;
margin-bottom: 0;
margin-left: 2em;
 } 
.social-media{
  display: flex;
  flex-direction: row;
  /* gap: 1em; */
}
.social-btn{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--liana-green);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  margin: 0 0.5em;
  
}
.social-btn:hover{
  background-color: var(--hover-green);
}

.fa-brands{
  color: var(--white);
  font-size: 20px;
}

@media (max-width: 1150px){
  html{
    font-size: 14px;
  }
  p, .text{
    font-size: 1.1rem;
  }
  .image-banner{
    justify-content: center;
  }
  .news-card-section{
    gap: 2em;
    justify-content: space-evenly;
  }
  .card{
    margin:0.5em;
    width:25%;

  }
  .subscribe-text{
    width:50%;
  }
}
/* @media (max-width:899px){ */

  @media (max-width:915px){
 /* .upper-band{
  justify-content: left;
 } */
 .menu-icon{
  display:block;
}
.upper-band{
display: none;
}
.upper-nav, .language-selector{
  display: none;
}
.main-menu{
  background-color: var(--liana-green);
flex-wrap: nowrap;
}
.desktop-nav, .menu-nav{
  display:none;
}
/* .logo{
  position: absolute;
  top:1em; 
  left: 4em;
  
} */
  .container{
    padding: 1em 4em;;
  }
  .jumbotron{
    height:40vh;
  }
  
  .ref-cards{
    gap: 1em;
    justify-content: center;
  }

.card{ 
min-width: 40% 
}
.subscribe-text{
  width:70%;
}

.footer-nav{
  display: none;
}
.footer-contact{
  flex-wrap: wrap;
 align-content: center;
 align-items: center;
gap:1em;
}
.contact-btn{
  margin:0;
}

}
@media (max-width:576px){

  .container{padding: 1em 2em;}
  h1{
    font-size: 3.2rem;
  }
 
.count{
  font-size: 3rem;
}
  .ref-cards{
    gap:2em;
  }
  .card{
    width:80%;
  } 
  .card p{
    margin: 8px 10px 20px 10px}
  
    .subscribe-text{
      width:70%;
    }
    .subscribe-input{
      width: auto;
    }

    .footer-contact{
      flex-wrap: wrap;
      flex-direction: column;
    }
}

