/* @import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;600&display=swap);  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
html{
  scroll-behavior: smooth;
}

:root {
  --liana-green: #4c8930;
  --hover-green:#5fb234;
  --text-black:#373a3c; 
  --white:#ffffff; 
  --black-is-black:#000000; 
  --background-grey:#ebedef;
  --divider-grey: #cccccc; 
  --line-grey:#e0e0e0; 

}
body{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-black);
  background-color: var(--white)
}
.container{
  padding: 2em 8em;
}
h1{
  font-size: 56px;
  color: var(--white);
  font-weight:100;
}
h2{
  font-size: 32px;
  color: var(--black-is-black);
}
h3{
  font-size: 28px;
  color: var(--white);
}
h4{
  font-size: 24px;
  color: var(--black-is-black);
}
.text {
  font-size: 16px;
}
li{
  list-style-type: none; 
  display: inline-block;
  padding: 0 1.2rem;
  letter-spacing: 0.1rem;
}

a{
  text-decoration: none !important;
  color: inherit;
}
input, button, select, .card, .image{
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none;
}

input, select{
  font-family: 'Open Sans', sans-serif;
  /* font-size: 20px; */
  padding: 10px;
  min-height: 30px;
  min-width: 200px;
}
input:focus{
  outline: none;
  border-color: var(--hover-green);
}
button{
padding:10px; 
margin: 4px;

/* *** check following  */
max-width: max-content;
background-color: var(--liana-green);
color: var(--white);
}
button:hover{
background-color: var(--hover-green);
}


/* === Header === */
header{
  width: 100vw;
}
.upper-band{
  background-color: var(--liana-green);
  color: var(--white);
  height: 2em; 
  display: flex;
  align-items: center;
  justify-content:right;

}
.main-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8em;
}


.logo-svg{
  height: 2em;
}

/* === Main === */
.jumbotron{
  height: 60vh;
  background-image: url(assets/pictures/4L7C5828.svg);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* position: relative; */
}

/* === IMAGE BANNER ===  */

.image-banner{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
  height:30em; 

}
.image{
  height: 15em;
  width: 30em;
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
.image h3{ 
  z-index: 999;
  position: absolute;
  top: calc(50% - 14px);
 
}
.company{
  background-image: url(assets/pictures/sisallontuotantoa.svg);
}
.products{
  background-image: url(assets/pictures/markkinoinninautomaation-mvv.svg);
}
.contact{
  background-image: url(assets/pictures/yini.svg);
}

/* === NUMBERS === */

.company-numbers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 20em;
  gap:4em; 

}
.clients, .employees, .users{
  display: flex;
align-items: center;
gap: 2em;}

.icon
{
  color: var(--liana-green);

  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}
.content p{
  color: var(--text-black);
}
.count{
  font-size: 58px;

}

.material-icons.md-48 { font-size: 80px; }


/* === NEWS === */
.news-section{
  height: 40vh;
  text-align: center;
  background-color: var(--background-grey);
}
.news-card-section{
  display:flex; 
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5% 0%; 
  
}
.news-card{
  background-color: var(--white);
width:30%; 
min-width: 20rem; 
height:20vh; 
  display: flex;
  flex-direction: column;
align-items: flex-start;
padding: 2em;
  border: 4px solid red;
}

/* === REFERENCES === */
.references-section{
 text-align: center;
}
.ref-cards{
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5% 0%;
  align-items: center;
}
.card{  
  display:grid; 
  grid-template-rows: 85px 30px 90px;
  row-gap:14px;
  /* justify-items: center;
  text-align: center; */
  place-items: center;

  border: 1px solid var(--line-grey);
  margin: 2em;
  /* padding: 2em; */
  width:20%; 
  /* display: flex;
  flex-direction: column;*/
  justify-content: center; 
  
}


/* === SUBSCRIBE === */
.subscribe-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.subscribe-section h2, p {
  text-align: center;
}
/* === FOOTER === */
.footer-section{
  height: 10em;
  background-color: var(--black-is-black);
  color: var(--white);
}